@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

* {
    /* border: 1px solid  black; */
    padding: 0px;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'arial';
}

#container {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.top,
.formDiv,
.bottom {
    flex: 1;
    padding: 30px;
    background-color: rgb(248, 248, 248);
}

#left-logo {
    width: 35%;
    background: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

#left-logo img {
    width: 30%;
}

#left-logo div:first-child {
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 50%;
    padding: 15px;
    font-family: 'Skranji', cursive;
    font-size: 3rem;
}

#left-logo p {
    margin-top: 100%;
    opacity: 0.7;
}

label {
    display: block;
}

.formDiv {
    overflow: auto;
    background-color: white;
    box-shadow: 2px 10px 31px 5px rgba(0, 0, 0, 0.75);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: space-between;
}

form>div {
    /* max-width: 100%; */
    padding: 5px 0px;
}

input {
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input.error {
    outline: none !important;
    border-color: red;
    border-width: 2px;
    /* box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.3); */
}
input::after{
    display: block;
    /* NOT WORKING */
    /* content: "Passwords do not match"; 
    /* box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.3); */
}

input:focus {
    outline: none !important;
    border-color: blue;
    box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.3);
}

form label {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    opacity: 0.7;
}

p.errorMsg{
    color: red;
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 3px;
    visibility: hidden;
}

/* Top division */
.top h4:first-child {
    margin-top: 10%;
}

.top h4:nth-child(2) {
    margin-top: 5%;
}
span.italic{
    font-style: italic;
}

/* Bottom Division */
a {
    text-decoration: none;
    color: rgb(55, 41, 21);
    font-weight: 600;
}

.bottom p {
    margin-top: 5%;
}

button[type='submit'] {
    padding: 15px 30px;
    background-color: rgb(55, 41, 21);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.3);

}

button:hover{
    background-color: rgb(140, 110, 67);
    transform: scale(1.02);
}